.category {
  height: 261px;
  flex-grow: 0;
  padding: 34px 54px 35px 52px;
  border-radius: 12px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.category-title {
  height: 44px;
  flex-grow: 0;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}

.category-description {
  color: #7d8488;
  max-width: 452px;
}

.continue {
  width: 152px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 6px;
  border: solid 1px var(--orange);
  color: var(--orange);
  background: white;
  text-align: center;

  transition: all 0.5s;
  &:hover {
    border: solid 1px var(--orange);
    color: white;
    background: var(--orange);
  }
  i {
    transform: translateY(4px);
  }
}
