<div class="container-fluid">
  <div class="row d-flex justify-content-between">
    <div class="col-md-5 upper-des">
      <h1>Learn English!</h1>
      <h1>It&#39;s fun and free.</h1>
      <p>
        project-name helps you improve your English language skills on your own
        through short video clips. <br> Learning and improving English is more
        enjoyable than ever with project-name video learning environment.
      </p>
    </div>
    <div class="col-md-6 my-5">
      <img src="assets/starter/1.PNG" alt="" class="w-100" />
    </div>
    <div class="col-md-6 my-5">
      <img src="assets/starter/2.PNG" alt="" class="w-100" />
    </div>
    <div class="col-md-4">
      <p>
        Find the right answer <br />
        and score points. <br />
        Voscreen's Gamification, Dynamic Assessment and Customization Systems
        push learners to increase their comprehension speed, to improve their
        quick reading skills and to amplify their reflexive thinking abilities.
      </p>
    </div>
  </div>
</div>
