p {
  color: gray;
  font-size: 19px;
  margin-top: 160px;
}
.upper-des {
  padding-top: 90px;
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  p {
    margin-top: 30px;
  }
}

.logo {
  width: 80px;
}

.login {
  background: #de1f26;
  color: white;
  &:hover {
    background-color: white;
    color: #de1f26;
  }
}
.register {
  border-color: #de1f26;
  color: #de1f26;
  &:hover {
    background-color: #de1f26;
    color: white;
  }
}
.about {
  padding-top: 8px;
  a {
    text-decoration: none;
    color: #de1f26;
    font-weight: 500;
  }
}

.engaging {
  background-color: rgba(239, 239, 239, 0.4);
  padding: 70px 0px;
}
