.container-fluid {
  background: #f6f9fc;
  padding-top: 20px;
}
p {
  color: gray;
  font-size: 19px;
  margin-top: 160px;
}
.upper-des {
  h1:first-child {
    margin-top: 200px;
  }
  p {
    margin-top: 30px;
  }
}

.logo {
  width: 80px;
}

.login {
  background: #de1f26;
  color: white;
  &:hover {
    background-color: white;
    color: #de1f26;
  }
}
.register {
  border-color: #de1f26;
  color: #de1f26;
  &:hover {
    background-color: #de1f26;
    color: white;
  }
}
.about {
  padding-top: 8px;
  a {
    text-decoration: none;
    color: #de1f26;
    font-weight: 500;
  }
}
