<nz-table #basicTable [nzData]="sentencesAnswers" [nzBordered]="true">
  <thead>
    <tr>
      <th *ngFor="let head of heads">{{ head }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let questionsAnswer of sentencesAnswers; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ questionsAnswer.sentence }}</td>
      <td>{{ questionsAnswer.userAnswer }}</td>
      <td>
        <div class="d-flex justify-content-center">
          <i
            class="fa-solid fa-circle-check text-success"
            *ngIf="questionsAnswer.isCorrect == 1"
          ></i>
          <i
            class="fa-solid fa-circle-xmark text-danger"
            *ngIf="questionsAnswer.isCorrect == 0"
          ></i>
        </div>
      </td>
      <td>
        {{ questionsAnswer.answerTime | date : "medium" }}
      </td>
    </tr>
  </tbody>
</nz-table>
