.side-bar {
  width: 190px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 74px;
  background: var(--dark);
  box-shadow: 1px 0 14px 0 rgba(0, 0, 0, 0.15);
}

.side-bar-header {
  background: var(--dark2);
}

.link {
  color: white;
}

.active-link {
  border-left: 4px solid var(--orange);
  background: white;
  color: var(--dark);
  font-weight: 500;
}

.logout {
  bottom: 0;
  i {
    color: white;
  }
}
