<div class="container">
  <div class="row">
    <h3 class="m-auto">Users Accounts</h3>
    <nz-table #basicTable [nzData]="users">
      <thead>
        <tr>
          <th *ngFor="let head of heads">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.id }}</td>
          <td>{{ user.fname }}</td>
          <td>{{ user.lname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.gender }}</td>
          <td>
            <div class="d-flex gap-2">
              <button
                class="btn btn-danger"
                nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this user?"
                nzPopconfirmPlacement="top"
                [nzOkText]="'Yes'"
                [nzCancelText]="'No'"
                (nzOnConfirm)="deleteUser(user.id)"
              >
                Delete
              </button>
              <button
                class="btn btn-success"
                (click)="viewQuestionsReport(user.id)"
              >
                Questions Report
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
