<header class="p-2 border-bottom">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a [routerLink]="['/']" class="d-flex align-items-center">
        <img class="logo" src="../../../../assets/img/Logo.png" alt="" />
      </a>

      <ul
        class="nav col-12 col-lg-auto d-flex justify-content-end mb-md-0"
        *ngIf="!isLogin"
      >
        <li class="about">
          <a [routerLink]="['/AboutUs']">About Us</a>
        </li>
        <li>
          <a class="btn login ms-2" [routerLink]="['/login']">Log in</a>
        </li>
        <li>
          <a
            class="btn btn-outline-dark ms-2 register"
            [routerLink]="['/register']"
            >Register</a
          >
        </li>
      </ul>
      <!-- <ul
        class="nav col-12 col-lg-auto me-lg-auto mx-5 mb-2 justify-content-center mb-md-0"
        *ngIf="isLogin"
      >
        <li>
          <div class="counter d-flex mx-4">
            <img src="assets/biechart2.PNG" alt="" />
            <div class="content mx-2">
              <h3>
                {{ QuestionAnswersCountMistake }} :
                {{ QuestionAnswersCountRight }}
              </h3>
              <p>counter 2</p>
            </div>
          </div>
        </li>
      </ul> -->

      <div class="dropdown" *ngIf="isLogin">
        <a
          class="link-dark text-decoration-none dropdown-toggle d-flex align-items-center justify-content-between border border-1 person-container p-2 py-1 rounded-1"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="d-flex align-items-center">
            <img
              src="../../../../assets/icons/person2.PNG"
              alt="mdo"
              width="32"
              height="32"
            />
            <div class="content mx-2">
              <p>{{ userName }}</p>
              <p class="text-secondary">Score: {{ score }}</p>
            </div>
          </div>
          <img
            class="arrow-down-icon"
            src="../../../../assets/icons/arrow-down.PNG"
            alt=""
          />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li>
            <a class="dropdown-item" [routerLink]="['/home']"
              ><i class="fa-solid fa-home"></i>Home</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/profile/personal-information']"
              ><i class="fa-solid fa-user"></i>Profile</a
            >
          </li>
          <!-- <li>
            <a class="dropdown-item" [routerLink]="['/profile/playlists']"
              ><i class="fa-solid fa-bars"></i> PlayLists</a
            >
          </li> -->
          <!-- <li>
            <a class="dropdown-item" [routerLink]="['/profile/stats']"
              ><i class="fa-solid fa-chart-line"></i> Stats</a
            >
          </li> -->
          <!-- <li>
            <a class="dropdown-item" [routerLink]="['/profile/rank']"
              ><i class="fa-solid fa-chart-simple"></i> Score & Rank</a
            >
          </li> -->
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" style="cursor: pointer" (click)="signOut()"
              ><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
