<form [formGroup]="form">
  <div class="row d-flex justify-content-between">
    <div class="col-md-5 my-2">
      <label for="currentPassword" class="form-label">Current Password</label>
      <input
        type="password"
        id="currentPassword"
        class="form-control"
        formControlName="currentPassword"
      />
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-5">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        type="password"
        id="newPassword"
        class="form-control"
        formControlName="newPassword"
      />
    </div>
    <div class="col-md-5">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmNewPassword"
      />
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-2 my-3 d-flex justify-content-end">
      <button class="btn submit" (click)="changePassword()">Change</button>
    </div>
  </div>
</form>
