<div class="container">
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="list-header p-2text-center">
        <h3>Categories</h3>
      </div>
      <div
        class="list-content d-flex justify-content-between p-2 border border-1"
        *ngFor="let category of categories"
      >
        <h5>{{ category.name }}</h5>
        <div class="list-btn d-flex gap-1">
          <a
            class="btn btn-info fs-10px text-white"
            [routerLink]="['/admin/video/' + category.id]"
            routerLinkActive="router-link-active"
            >Videos</a
          >
          <button
            class="btn btn-success fs-10px text-white"
            (click)="ShowAddNewListModal(category)"
          >
            Update
          </button>
          <button
            class="btn btn-danger fs-10px text-white"
            (click)="deleteCategory(category.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-4">
      <button class="btn btn-success" (click)="ShowAddNewListModal()">
        Add New Category
      </button>
    </div>
  </div>
</div>

<nz-modal
  [nzVisible]="showAddNewListModal"
  nzTitle="Add New Category"
  [nzFooter]="null"
  [nzStyle]="{ width: '40vw' }"
  (nzOnCancel)="showAddNewListModal = false"
>
  <ng-container *nzModalContent>
    <form [formGroup]="form" class="d-flex flex-column gap-2">
      <div class="d-flex gap-2 flex-column">
        <label class="form-label">Category Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <button
        class="btn btn-info text-white"
        [disabled]="form.invalid"
        (click)="isEdit ? updateCategory() : addCategory()"
      >
        {{ isEdit ? "Edit" : "Add" }}
      </button>
    </form>
  </ng-container>
</nz-modal>
