<ng-container *ngIf="!isAdmin || !isLoginPage">
  <app-navbar></app-navbar>
</ng-container>
<div [ngClass]="{ 'row p-0 m-0': !hideSideBar }">
  <div class="col-md-2" *ngIf="!hideSideBar">
    <app-side-bar></app-side-bar>
  </div>
  <div
    class="pages"
    [ngClass]="{
      'col-md-10 pt-5 mt-5': !hideSideBar,
      'col-md-12': hideSideBar
    }"
  >
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <ng-container *ngIf="!isAdmin">
  <app-footer></app-footer>
</ng-container> -->
<p-toast position="top-center"></p-toast>
