<div class="row border bg-white" style="margin-right: 0">
  <div
    class="col-12 d-flex box-shadow-bottom justify-content-between stats pb-3"
  >
    <div class="col-md-6 d-flex">
      <i class="fa-solid fa-chart-line me-2"></i>
      <p>Stats</p>
    </div>
  </div>
  <div>
    <h3>Answred Questions</h3>
    <div class="d-flex justify-content-evenly">
      <p>total : {{ answeredQuestionsTotal }}</p>
      <p>correct : {{ answeredQuestionsCorrect }}</p>
      <p>wrong : {{ answeredQuestionsWrong }}</p>
    </div>
  </div>
</div>
