video {
  width: 100%;
  height: 600px;
  background: #000;
}
.features {
  width: 140px;
  height: 50px;
  background: rgba(228, 226, 226, 0.425);
  border: 1px solid rgb(100, 100, 100);
  padding: 5px 10px;
  img {
    width: 40px;
  }
  p,
  i {
    margin-top: 5px;
    font-weight: 500;
  }
  i {
    font-size: 25px;
    margin-right: 30px;
  }
}
.bottom {
  padding: 10px 180px;
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.322);
  overflow: hidden;
  transition: background-color 0.5s;
}
.bg-tranparent {
  background: transparent;
}
.questions,
.speeking {
  padding: 0px 160px;
}
.retry,
.play {
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.retry,
.play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qustions {
  //   padding-top: 250px;
  .qustion {
    background-color: white;
    padding: 10px 10px 5px;
    width: 200px;
    p {
      color: rgb(192, 190, 190);
      font-size: 20px;
      margin-bottom: 0px;
      text-align: center;
    }
    i {
      font-size: 40px;
      margin-right: 10px;
    }
  }
}

.mcq {
  position: relative;
}
.content,
.qustion {
  background: lightgoldenrodyellow;
}
.choise {
  display: flex;
  justify-content: start;
  p {
    font-size: 25px;
    font-weight: 500;
  }
}
.correct,
.wrong {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 194, 9);
  i {
    color: white;
  }
}
.wrong {
  background-color: red;
}
.retry {
  position: relative;
  .next {
    position: absolute;
    background: gray;
    right: 0;
    top: 43%;
    width: 50px;
    height: 30px;
    border-radius: 20px 0px 0px 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: black;
      font-size: 20px;
    }
  }
  .score {
    width: 200px;
    height: 100px;
    top: 100px;
    opacity: 0;
    transition: opacity 0.5s;
    span {
      color: yellow;
      font-size: 70px;
      font-weight: bold;
      transform: translate(10px, -20px);
    }
    i {
      color: yellow;
      font-size: 70px;
    }
  }
}

.disabledAnswer {
  pointer-events: none;
  text-decoration: none;
  color: black;
}

.main {
  overflow: hidden;
}

.video-icon {
  width: 20px;
}

.views {
  border-radius: 0px 0px 12px 12px;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

.answer {
  cursor: pointer;
  border: 1px solid white;
}

.answer-checked {
  border: 2px solid rgb(0, 119, 255);
}

.correctAnswer {
  input[type="radio"] {
    accent-color: green;
  }
  border: 2px solid green;
}
.wrongAnswer {
  input[type="radio"] {
    accent-color: red;
  }
  border: 2px solid red;
  transition: border-color 0.5s;
}

.mic-container {
  cursor: pointer;
  border: 0px;
}

.mic-circle {
  border: 2px solid #9747ff;
  width: 45px;
  height: 45px;
}

.fa-microphone,
.fa-stop {
  color: #9747ff;
  font-size: 23px;
}
