<footer class="border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <img src="./../../../../assets/img/logo.PNG" alt="" />
      </div>
      <div class="col-md-7 py-5">
        <p>
          project-name helps you improve your English language skills on your
          own through short video clips. Learning and improving English is more
          enjoyable than ever with Voscreen video learning environment.
        </p>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12"><a class="main-link">E-Learning</a></div>
          <div class="col-md-12"><a routerLink="AboutUs">about us</a></div>
          <div class="col-md-12"><a>privacy</a></div>
          <div class="col-md-12"><a>term&conditions</a></div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12"><a class="main-link">Contact</a></div>
          <div class="col-md-12">
            <a
              ><i class="fa-brands fa-linkedin"></i>
              <p>Linked in</p></a
            >
          </div>
          <div class="col-md-12">
            <a
              ><i class="fa-brands fa-twitter"></i>
              <p>Twitter</p></a
            >
          </div>
          <div class="col-md-12">
            <a
              ><i class="fa-brands fa-facebook"></i>
              <p>Facebook</p></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
