.rank {
  padding: 20px 30px 0px;
  i {
    font-size: 30px;
  }
  p {
    font-size: 25px;
    font-weight: bolder;
    margin-top: -5px;
  }
}
.ranks-table-cotent{
  min-width: 50px;
}
.ranks-table-cotent-user,.ranks-table-header-user{
  min-width: 100px;
}
