<div
  class="row bg-white personal-information-container"
  style="margin-right: 0"
>
  <div
    class="col-md-12 border border-light box-shadow-bottom personal-information-section"
  >
    <div class="row">
      <div class="col-md-12 d-flex profile pb-3 box-shadow-bottom">
        <i class="fa-solid fa-user me-2"></i>
        <p>Personal Information</p>
      </div>
      <div class="col-md-12 profile-form">
        <app-user-information></app-user-information>
      </div>
    </div>
  </div>
  <div
    class="col-md-12 border border-light box-shadow-bottom personal-information-section my-5"
  >
    <div class="row">
      <div class="col-md-12 d-flex profile pb-3 box-shadow-bottom">
        <i class="fa-solid fa-user me-2"></i>
        <p>Edit Profile</p>
      </div>
      <div class="col-md-12 profile-form">
        <app-edit-profile></app-edit-profile>
      </div>
    </div>
  </div>
  <div
    class="col-md-12 border border-light my-5 box-shadow-bottom personal-information-section"
  >
    <div class="row">
      <div class="col-md-12 d-flex profile pb-3 box-shadow-bottom">
        <i class="fa-solid fa-lock me-2"></i>
        <p>Password</p>
      </div>
      <div class="col-md-12 profile-form">
        <app-change-password></app-change-password>
      </div>
    </div>
  </div>
</div>
