/* You can add global styles to this file, and also import other style files */
@import "./assets/fontawesome-free-6.1.2-web/scss/fontawesome.scss";
@import "./assets/fontawesome-free-6.1.2-web/scss/solid.scss";
@import "./assets/fontawesome-free-6.1.2-web/scss/brands.scss";

:root {
  --dark: rgba(38, 50, 56, 0.9);
  --dark2: #263238;
  --orange: #ff5a57;
}

.bg-dark {
  background-color: var(--dark2);
}

.px-7 {
  padding: 0px 100px;
}

.text-gray {
  color: #7d8488;
}
.pt-7 {
  padding-top: 7rem !important;
}

.text-orange {
  color: var(--orange);
}
.fs-56 {
  font-size: 56px;
}
.btn-orange {
  background: var(--orange);
  color: white;
  &:focus {
    background: var(--orange);
    color: white;
  }
  &:hover {
    background: white;
    color: var(--orange);
    border: 1px solid var(--orange);
  }
}

* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
p {
  margin-bottom: 0px;
}
.box-shadow-bottom {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.158);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.158);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.158);
}
.fs-10px {
  font-size: 10px;
}
.categorie-list .p-dropdown {
  width: 100%;
}

.ant-tabs > .ant-tabs-nav {
  display: none;
}
