<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="my-5">About Us</h2>
      <p>
        It's an irrefutable fact that learning English has become a priority for
        all kinds of people, all over the world. Today, more than 2 billion of
        us are trying to acquire and develop the language. We are students of
        all ages, come from all kinds of backgrounds and we each have our own
        goals and ambitions for a future with English. To this end,
        <span > project name </span> has been developed in order to accelerate
        the learning process of learners worldwide, to uncover the world of
        English to anyone, anywhere at any time. <br /><br />
        <span > project name </span> is a highly innovative way to help learners
        improve their English language skills on their own, without the express
        need for outside instruction. Moreover, it can also provide teachers the
        tools needed to develop their students' language skills in an engaging,
        interactive and challenging way. <br /><br />
        <span > project name </span> is based on its own learning method and
        approach developed through meticulous research on the native language
        learning process and environmental language acquisition. <br /><br />
        A toddler is able to independently acquire the essential language skills
        to communicate in their own mother tongue, thanks to all kinds of
        language exposure available while growing up.
        <span > project name </span> users can experience a similar kind of
        language acquisition, as they are systematically exposed to English.
        Short clips, each grounded in easy to understand, real life contexts
        with concrete meaning, surround the learner with English. All the
        learner has to do to achieve the goal of becoming proficient in English
        is to spend 20 to 40 minutes using <span > project name </span> every day
        to ensure constant exposure. <br /><br />
        Following years of research focused on the language learning process,
        the <span > project name </span> team has developed the Artificial
        Linguistic Intelligence for Visual Education system, which we refer to
        as ALIVE. ALIVE functions as an 'AI Teacher' that enables each learner
        to receive the appropriate language input at the right time and complete
        the required repetition cycles to master English. Through this system,
        and by utilizing a huge database of content, ALIVE adapts to each
        individual learner and custom tailors the program to their own needs.
        <br /><br />
        In order not to misguide the ‘AI Teacher’,
        <span > project name </span> users are highly advised to answer a '
        project nameQuestion' only if they are absolutely sure they fully
        comprehend the content. <br /><br />
        We welcome you to join one of the fastest growing communities online
        today and to learn, improve and live English side by side with project
        name everywhere. <br /><br />
        Engaging, authentic, rich and free… <br /><br />Life itself…
      </p>
    </div>
  </div>
</div>
